<div class="emptyCart" *ngIf="items.size === 0">
  <div class="emptyTxt">Your Cart is Empty :(</div>
</div>

<div *ngIf="items.size > 0" class="spacing">
  <div *ngFor="let item of items.values()">
    <app-cart-item [item]="item"></app-cart-item>
  </div>
  <div class="row">
    <div class="col-md-9 themed-grid-col">
      <button type="button" class="btn btn-warning" (click)="clearCart()">
        Clear Cart
      </button>
    </div>
    <div class="col-md-2 themed-grid-col">
      {{ totalPrice | currency: "EUR" }}
    </div>
    <div class="col-md-1 themed-grid-col">
      <button type="button" class="btn btn-warning">Payment</button>
    </div>
  </div>
</div>
