.spacing {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  color: white;
  font-size: 25px;
}

div {
  color: white;
}

.emptyCart {
  margin: 20%;
  margin-top: 5%;
  text-align: center;
  font-size: xx-large;
}
