<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <div class="banner bg-dark">
      <a routerLink="/products"
        ><span class="fake">Fake</span><span class="store">store </span>
      </a>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
      <app-input
        inputType="text"
        label="Username"
        [control]="authForm.controls.username | formControlPipe"
      ></app-input>
      <app-input
        inputType="password"
        label="Password"
        [control]="authForm.controls.password | formControlPipe"
      ></app-input>
      <app-input
        inputType="password"
        label="Password Confirmation"
        [control]="authForm.controls.passwordConfirmation | formControlPipe"
      ></app-input>

      <div
        class="error"
        *ngIf="
          authForm.get('password')?.touched &&
          authForm.get('passwordConfirmation')?.touched &&
          authForm.errors
        "
      >
        <p *ngIf="authForm.errors?.['passwordsDontMatch']">
          Passwords must match
        </p>
      </div>

      <button class="btn btn-warning" type="submit">Sign-up</button>
      <div *ngIf="authForm.errors" class="error">
        <p *ngIf="authForm.errors['credentials']">Wrong username or password</p>
        <p *ngIf="authForm.errors['noConnection']">
          Check your internet connection
        </p>
      </div>
    </form>
    <div>Arleady have an account?<a routerLink="/login"> Sign-in</a></div>
  </main>
</body>
