.card {
  background-color: #212529;
  color: white;
  border-color: #ffc107;
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
  width: 180p;
}

.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
}

.btn-outline-secondary {
  color: white;
  border-color: #ffc107;
}

.product-image {
  margin: 10px;
  height: 200px;
}

img {
  width: auto;
  max-width: 164px;
  height: auto;
  max-height: 200px;
  min-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ffc107;
}

.product-text {
  height: 88px;
  overflow: hidden !important;
}

.card-body {
  font-size: 14px;
  padding-top: 0px;
}

.btn {
  font-size: 10px;
}

.card-text {
}
