<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <div *ngFor="let button of buttons">
          <button
            type="button"
            class="{{ button.class }}"
            (click)="changeStatus(button)"
          >
            {{ button.category }}
          </button>
        </div>
        <form
          class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 last"
          role="search"
        >
          <input
            type="text"
            class="form-control form-control-dark text-white bg-dark"
            placeholder="Min price..."
            aria-label="Search"
            onkeydown="return ((47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (event.keyCode==8)  || (event.keyCode==9) || (event.keyCode==46) || (event.keyCode==190) )"
            (keyup)="filterProductsByDownPriceRange($event)"
          />
        </form>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input
            type="text"
            class="form-control form-control-dark text-white bg-dark"
            placeholder="Max price..."
            aria-label="Search"
            (keyup)="filterProductsByUpPriceRange($event)"
            onkeydown="return ((47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (event.keyCode==8)  || (event.keyCode==9) || (event.keyCode==46) || (event.keyCode==190) )"
          />
        </form>
      </ul>
      <form
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 sortby"
        role="search"
      >
        <select
          class="form-control form-control-dark text-white bg-dark"
          (change)="sortBy($event)"
        >
          <option value="" selected disabled hidden>Sort by</option>
          <option value="PriceUp">Lowest Price</option>
          <option value="PriceDown">Highest Price</option>
          <option value="Alfabetical">Alfabetical</option>
        </select>
      </form>
    </div>
  </div>
</header>
<hr />
<div class="spacing">
  <div *ngFor="let product of filteredProducts">
    <app-search-item [product]="product"></app-search-item>
  </div>
</div>
